/* #backDropContainer {
    width: '100%';
    height: '100%';
    object-fit: cover;
    background-image: url("./backdrop.png");
    background-size: cover;
} */

#backDrop {
    width: 100vw;
    height: 100vh;
    animation-name: fadeIn;
    animation-duration: 3s;
}
  
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
  